.quizForm_wrap {
    width: 80%;
    margin: 0 auto;
    padding-top: 5%;
}

#quiz_form {
    border: 1px solid #dfdfdf;
    padding-top: 30px;
    padding-left: 30px;
}

.quizForm_wrap .nav_links {
    cursor: auto;
}

.quizForm_wrap .warning {
    color: red;
}

.question_wrap,
.answer_wrap {
    padding-left: 20px;
}

.add_answer_btn {
    margin-left: 10px;
}

.quiz_heading .glyphicon {
    float: right;
}

.quiz_heading {
    cursor: pointer;
}

.quizForm_wrap ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.quizForm_wrap li {
    float: left;
    margin-bottom: 0;
    cursor: pointer;
}

.quizForm_wrap li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 1px solid;
    border-bottom: 0;
    border-color: #dfdfdf;
    margin-left: 10px;
}

.quizForm_wrap .active {
    background-color: #fff;
}

.quizForm_wrap h2 {
    font-size: 2rem;
}

.quizForm_wrap h3 {
    font-size: 1.5rem;
}

.quizForm_wrap h4 {
    font-size: 1rem;
}

.quizForm_wrap .form-group {
    padding: 10px;
}

.quizForm_wrap input.form-control {
    max-height: 20px;
}

.quizForm_wrap .result,
.quizForm_wrap .question,
.quizForm_wrap .answer_wrap {
    display: flex;
    flex-wrap: wrap;
}

.quizForm_wrap .answer_wrap .form-group {
    display: grid;
}

.quizForm_wrap .answer_wrap .checkbox {
    padding-top: 5px;
}

.quizForm_wrap .button_navigation {
    padding-right: 100px;
    text-align: right;
}

.quizForm_wrap .button_navigation {
    text-align: center;
}