.quizForm_wrap {
    width: 80%;
    margin: 0 auto;
    padding-top: 5%;
}

#quiz_form {
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    padding-top: 30px;
    padding-left: 30px;
}

.question_wrap,
.answer_wrap {
    padding-left: 20px;
}

.add_answer_btn {
    margin-left: 10px;
}

.quiz_heading .glyphicon {
    float: right;
}

.quiz_heading {
    cursor: pointer;
}

.quizForm_wrap ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.quizForm_wrap li {
    float: left;
    margin-bottom: 0;
    cursor: pointer;
}

.quizForm_wrap li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.quizForm_wrap li a:hover {
    color: #fff;
}

.quizForm_wrap li a:hover:not(.active) {
    background-color: #111;
    color: #fff;
}

.quizForm_wrap .active {
    background-color: #2ECC71;
}

.quizForm_wrap .quiz_button {
    cursor: pointer;
    padding: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #2ECC71;
    border: 1px solid #2ECC71;
    border-radius: 20px;
    color: #fff;
}

.quizForm_wrap h2 {
    font-size: 2rem;
}

.quizForm_wrap h3 {
    font-size: 1.5rem;
}

.quizForm_wrap h4 {
    font-size: 1rem;
}

.quizForm_wrap .form-group {
    padding: 10px;
}

.toggle {
    cursor: pointer;
    font-size: 20px;
}

.toggle:hover {
    text-decoration: underline;
}