@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Italic.ttf") format("truetype");
    font-style: italic;
}

#lottie {
    background-color: #fff;
    width: 45%;
    height: 56%;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    text-align: center;
    opacity: 1;
}

.quiz_wrap h1,
.quiz_wrap h2,
.quiz_wrap h3 {
    font-weight: bold;
    overflow-wrap: anywhere;
}

.quiz_wrap h4 {
    font-size: 20px;
    overflow-wrap: anywhere;
}

.quiz_wrap span {
    overflow-wrap: anywhere;
}

.quiz_wrap input:focus {
    outline: none !important;
}

.quiz_wrap {
    background-color: #fff;
    font-family: OpenSans;
    max-width: 800px;
    padding: 50px;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
    box-shadow: 1px 20px 40px 0 rgba(60, 64, 66, 0.1);
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.5s ease-in-out;
    transition: background-color 0.5s ease;
    min-height: 500px;
}

.quiz_wrap.resultpage {
    background-color: transparent;
    box-shadow: none;
    transition: box-shadow 0.5s ease-in-out;
    transition: background-color 0.5s ease;
}

.quiz_wrap input::-webkit-outer-spin-button,
.quiz_wrap input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quiz_wrap input[type=number] {
    -moz-appearance: textfield;
}

.first_page .description {
    margin: 0;
}

.description {
    opacity: 0.8;
    font-size: 24px;
    line-height: 1.33;
}

.quiz_img {
    padding: 25px;
    object-fit: contain;
    max-height: 400px;
    width: auto;
}

.quiz_wrap .mask {
    background: url('../images/mask.png');
    width: 348px;
    height: 335px;
    position: absolute;
    top: -191px;
    right: -159px;
}

.quiz_wrap .mask2 {
    background: url('../images/mask2.png');
    width: 491px;
    height: 335px;
    position: absolute;
    bottom: -166px;
    left: -107px;
}

.quiz_wrap .quiz_btn {
    font-weight: bold;
    font-size: 16px;
    border: none;
    position: relative;
    font-family: OpenSans;
    margin-bottom: 5px;
    color: #fff;
    outline-color: #fff;
    border-radius: 24px;
    min-width: 150px;
    max-width: fit-content;
    padding: 12px;
    padding-left: 30px;
    padding-right: 30px;
    align-self: center;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    line-height: 1.618;
}

.quiz_wrap .button_icon::before {
    position: absolute;
    content: url('../images/icon_arrow.png');
}

.quiz_wrap .quiz_btn:hover {
    color: #fff;
}

.quiz_wrap .quiz_btn:focus {
    outline-color: transparent;
}

.quiz_wrap .quiz_btn>a,
.quiz_wrap .quiz_btn>a:focus {
    text-decoration: none !important;
    color: inherit;
    outline: 0px;
}

.quiz_btn:disabled {
    opacity: 0.5;
}

.quiz_wrap #start_btn {
    z-index: 100;
}

.quiz_wrap .prev,
.quiz_wrap #prev_last,
.quiz_wrap #back_to_start {
    font-weight: bold !important;
    margin: 0 0 1.41575em;
    font-size: 17px;
    line-height: 1.33;
    cursor: pointer;
    width: fit-content;
    align-self: center;
    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
    -o-transition: color 0.3s linear;
    transition: color 0.3s linear;
}

.quiz_wrap #prev_last,
.quiz_wrap #back_to_start {
    margin: 0 auto;
    padding-top: 50px;
}

.quiz_wrap .counter_wrap {
    display: none;
    text-align: center;
    margin-bottom: 40px;
}

.quiz_wrap .step {
    margin-left: 10px;
    height: 10px;
    display: inline-block;
    width: 15%;
    border-radius: 5px;
}

.quiz_wrap .options {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 50px;
    padding-top: 50px;
}

.quiz_wrap .question_wrap {
    display: none;
    min-height: 350px;
}

.quiz_wrap .question_wrap.active {
    display: block;
}

.quiz_wrap .first_page {
    min-height: 350px;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}

.quiz_wrap .answers_wrap {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}

.quiz_wrap .hidden {
    display: none;
}

.quiz_wrap .radio_container {
    background-size: 70px 70px;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    display: block;
    cursor: pointer;
    font-size: 22px;
    margin-bottom: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 25px;
    border-radius: 20px;
    -webkit-transition: box-shadow 0.3s linear;
    -moz-transition: box-shadow 0.3s linear;
    -o-transition: box-shadow 0.3s linear;
    transition: box-shadow 0.3s linear;
}

.quiz_wrap .radio_container.active {
    background-color: #ffffff;
}

.quiz_wrap .radio_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

#quiz_form input[type='text'],
#quiz_form input[type='email'],
#quiz_form input[type='number'] {
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    margin-bottom: 50px;
    outline: none;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

#quiz_form .email_wrap {
    text-align: left;
    margin-bottom: 60px;
}

.quiz_wrap .result {
    display: inline-flex;
    height: 160px;
    width: 100%;
    align-items: center;
    border-radius: 20px;
    box-shadow: 1px 20px 40px 0 rgba(60, 64, 66, 0.1);
    padding: 20px;
    color: #3d366c;
    margin-top: 20px;
    justify-content: space-between;
}

.quiz_wrap .result img {
    width: 120px;
    height: 120px;
    border-radius: 12px;
}

.quiz_wrap .result_description {
    padding-left: 40px;
    margin: 0 auto;
}

.option_container {
    width: 20%;
    text-align: -webkit-center;
    text-align: -moz-center;
}

#quiz_form input.email {
    margin-bottom: 20px;
}


/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 768px) {
    .quiz_wrap .options {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
    }
    .quiz_wrap .option_container {
        text-align: center;
        width: 100%;
        padding-bottom: 25px;
    }
    .quiz_wrap .radio_container {
        width: 400px;
    }
}

@media only screen and (max-width: 540px) {
    .quiz_wrap .radio_container {
        width: 200px;
    }
    .quiz_wrap .result {
        height: fit-content;
        width: fit-content;
        display: block;
        margin: 0 auto;
    }
    .quiz_wrap .result img {
        margin: 0 auto;
    }
    .quiz_wrap .result_description {
        padding: 0;
    }
}